{% extends 'base.html.twig' %}

{% block title %}Page du produit{% endblock %}

{% block body %}

<table>
    <tr>
        <td>Nom :</td>
        <td>{{ product.name }}</td>
    </tr>
    <tr>
        <td>Description :</td>
        <td>{{ product.description }}</td>
    </tr>
    <tr>
        <td>Prix :</td>
        <td>{{ product.prix }}</td>
    </tr>
    <tr>
        <td>Photo :</td>
        <td><img src="{{ asset(product.image) }}"/></td>
    </tr>
</table>

{% if product.prix > 25 %}
    <a href="{{ path('facilitePaiement') }}">Voir nos facilités de paiements</a>
{% endif %}

{% endblock %}